.container {
    width: 50%;
    border: 1px solid #edeae9;
    border-radius: 10px;
    margin: 0 auto;
    padding: 15px;
}
.container_taskItem {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.container:hover {
    border-color: #afabac;
}

.container_taskItem__status_queue .container_taskItem__status_development .container_taskItem__status_done {
    border: 1px solid #afabac;
    width: 70%;
}

.container_taskItem__status_queue {
}

.container_taskItem__status_development {
}

.container_taskItem__status_done {
}
